{
  "env": {
    "node": true
  },
  "plugins": [
    "flowtype"
  ],
  "extends": [ "plugin:flowtype/recommended", "airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "one-var": ["error", { "initialized": "never", "uninitialized": "always" }],
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-restricted-globals": "off",
    "no-warning-comments": [
      "warn",
      { "terms": ["todo", "fixme"], "location": "start" }
    ],
    "semi": ["error", "always"]
  }
}
